<div class="container item-index-box">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="add-box">
                <span>商品一覧</span>
                <div>
                    <%= link_to "新規アーティスト追加", new_admin_artist_path, class: "btn btn-lg btn-default" %>
                </div>
                <div>
                    <%= link_to "新規レーベル追加", new_admin_label_path, class: "btn btn-lg btn-default" %>
                </div>
                <div>
                    <%= link_to "新規ジャンル追加", new_admin_genre_path, class: "btn btn-lg btn-default" %>
                </div>
                <div>
                    <%= link_to "新規商品追加",  new_admin_item_path, class: "btn btn-lg btn-default" %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <table class="tableindex table-condensed">
                <tr>
                    <th>アーティスト名</th>
                    <th>シングル/アルバム名</th>
                    <th>ジャンル</th>
                    <th>レーベル</th>
                    <th>在庫数</th>
                    <th>ステータス</th>
                    <th></th>
                </tr>
                <% @items.each do |item| %>
                    <tr>
                    <%= link_to admin_item_path(item.id) do %>
                        <td><%= link_to "#{item.artist.artist_name}", admin_item_path(item.id) %></td>
                        <td><%= link_to "#{item.title}", admin_item_path(item.id) %></td>
                    <% end %>
                        <td><%= item.genre.genre_name %></td>
                        <td><%= item.label.label_name %></td>
                        <td><%= (Stock.where(item_id: item.id).sum(:arrival_count)) - (OrderItem.where(item_id: item.id).sum(:amount)) %></td>
                        <%# <td><%= item.stocks.arrival_count - item.oreder_items.amount<td></td> %>
                        <%# 入荷数-受注数 %>
                        <%# item.stocks.arival_count - item.oreder_items.amount %>
                        <td><%= item.status_i18n %></td>
                        <td>
<<<<<<< HEAD
                            <%= link_to "編集", edit_admin_item_path(item.id), class: "btn btn-success" %>
                            <%= link_to "在庫追加", new_admin_item_stock_path(item.id), class: "btn btn-primary" %>
=======
                            <%= link_to "編集", edit_admin_item_path(item.id), class: "btn btn-sm btn-success" %>
                            <%= link_to "在庫追加", new_admin_item_stock_path(item.id), class: "btn btn-sm btn-primary" %>
>>>>>>> master
                        </td>
                    </tr>
                <% end %>
            </table>
            <div class="paginate"><%= paginate @items %></div>
        </div>
    </div>
