<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <p>商品一覧</p>
                <div>
                    <%= link_to new_admin_artist_path do %>
                        <button>新規アーティスト追加</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to new_admin_label_path do %>
                        <button>新規レーベル追加</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to new_admin_genre_path do %>
                        <button>新規ジャンル追加</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to new_admin_item_path do %>
                        <button>新規商品追加</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <th>アーティスト名</th>
                    <th>シングル/アルバム名</th>
                    <th>ジャンル</th>
                    <th>レーベル</th>
                    <th>在庫数</th>
                    <th>ステータス</th>
                    <th></th>
                </tr>
                <% @items.each do |item| %>
                    <tr>
                    <%= link_to admin_item_path(item.id) do %>
                        <td><%= link_to "#{item.title}", admin_item_path(item.id) %></td>
                        <td><%= link_to "#{item.artist.artist_name}", admin_item_path(item.id) %></td>
                    <% end %>
                        <td><%= item.genre.genre_name %></td>
                        <td><%= item.label.label_name %></td>
                        <%# <td><%= item.stocks.arrival_count - item.oreder_items.amount %><td></td>
                        <%# TODO: stockの新規追加が可能になったらもう一度試す %>
                        <%# 入荷数-受注数 %>
                        <%# item.stocks.arival_count - item.oreder_items.amount %>
                        <%# <td><%= item.status_i18n %>
                        <td>
                            <%= link_to edit_admin_item_path(item.id) do %>
                                <button>編集</button>
                            <% end %>
                            <%= link_to new_admin_item_stock_path(item.id) do %>
                                <button>在庫追加</button>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
            <%= paginate @items %>
        </div>
    </div>
</div>