<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>商品詳細</p>
            <div>
                <div>
                    <p>
                        <%= attachment_image_tag @item, :jacket_image, :fill, 300, 300 %>
                    </p>
                    <div>
                        <p><span>タイトル :</span><%= @item.title %></p>
                        <br><br>
                        <p><span>アーティスト名 :</span><%= @item.artist.artist_name %></p>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <p>レーベル名</p>
                        </div>
                        <div>
                            <p><%= @item.label.label_name %></p>
                        </div>
                        <div>
                            <p>ジャンル</p>
                        </div>
                        <div>
                            <p><%= @item.genre.genre_name %></p>
                        </div>
                        <div>
                            <p>曲名</p>
                        </div>
                        <% @discs.each do |disc| %>
                            <div>
                                <p><%= "#{disc.disc_number}枚目" %></p>
                                <% disc.tracks.each do |track|  %>
                                    <p><%= track.track_name %></p>
                                <% end %>
                            </div>
                        <% end %>
                        <div>
                            <p>価格(税別価格)</p>
                        </div>
                        <div>
                            <p><%= "#{@item.price}円" %></p>
                        </div>
                        <div>
                            <p>ステータス</p>
                        </div>
                        <div>
                            <p><%= @item.status_i18n %></p>
                        </div>
                        <div>
                            <p>在庫数</p>
                        </div>
                        <div>
                            <%# <p><%=# item.stocks.arrival_count - item.oreder_items.amount</%#> %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-cd-12">
            <div>
                <%= link_to new_admin_stock_path do %>
                    <button>在庫追加</button>
                <% end %>
                <%= link_to edit_admin_item_path(@item.id) do %>
                    <button>編集</button>
                <% end %>
                <%= link_to admin_item_path(@item.id), method: :delete do %>
                    <button>削除</button>
                <% end %>
                <%= link_to admin_items_path do %>
                    <button>戻る</button>
                <% end %>
            </div>
        </div>
    </div>
</div>