<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<div>
    <p>投稿レビュー</p>
    <% @reviews.each do |review| %>
        <div>
            <p><%= review.title %></p>
            <p><%= review.user.last_name %></p>
                <%# FIXME:last_nameの部分をフルネーム表示にするため、userモデルへメソッドを追加する可能性あり %>
            <div>
                <p><%= review.body %></p>
            </div>
        </div>
    <% end %>
</div>

<% if current_user.signed_in? %>
    <div>
        <p>レビュー入力フォーム</p>
        <%= form_for(@review) do |f| %>
            <p><span>タイトル</span><%= f.text_field :title %></p>
            <p><span>本文</span><%= f.text_area :body %></p>
            <button><%= f.submit "投稿" %></button>
        <% end %>
    </div>
<% end %>