<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <P>名前</p>
    <%= f.label :姓 %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <%= f.label :名 %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <p>名前（カタカナ）</p>
    <%= f.label :姓 %>
    <%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name" %>
    <%= f.label :名 %>
    <%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.number_field :tel_number, autofocus: true, autocomplete: "tel_number" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <div>
    <!-- ▼郵便番号入力フィールド(3桁+4桁) -->
    <input type="text" name="zip31" size="4" maxlength="3"> － <input type="text" name="zip32" size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('zip31','zip32','pref31','addr31','addr31');"><br>
    (半角英数) 例100-0101  ※郵便番号がわからない場合は<%= link_to "こちら", "https://www.post.japanpost.jp/smt-zipcode/" %>
    <!-- ▼住所入力フィールド(都道府県) -->
    <p>都道府県（任意）</p>
    <input type="text" name="pref31" size="20">
    <!-- ▼住所入力フィールド(都道府県以降の住所) -->
    <p>市区町村　番地（任意）</p>
    <input type="text" name="addr31" size="40">
    </div>
  </div>
  <div class="field">
    <%= f.label :建物名　部屋番号（任意） %><br />
    <%= f.text_field :city_address, autofocus: true, autocomplete: "city_address" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

