<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div>
                <h2>お気に入りリスト</h2>
                <% @favorites.each do |item| %>
                    <div class="row" id="row2">
                        <div class="favorite_items">
                            <div class="col-md-2">
                                <%= attachment_image_tag item, :jacket_image, format:'jpeg', fallback: "no_image.jpg", size: '150x150' %>
                            </div>
                            <div class="col-md-5">
                                <p><%= link_to "#{item.title}",item_path(item.id), style: "color: white;" %></p>
                                <p><%= link_to "#{item.artist.artist_name}", artist_path(item.artist.id), style: "color: white;" %></p>
                                <p><%= item.price %>円(税込)</p>
                            </div>
                            <div class="col-md-4">
                                <div id="favorite-button-<%=item.id %>">
                                    <%= render 'favorites/favorite', item: item %>
                                </div>
                                <p></p>
                                <%= form_for @cart_item do |f| %>
                                    <%= f.number_field :amount, min: 1, value: 1 %><span style="color: #fff;"> 枚</span>
                                    <%= f.hidden_field :item_id, value: item.id %>
                                    <% if item.status_before_type_cast == 0 %>
                                        <%= button_tag type: "submit", class: "btn btn-primary" do %>
                                            <i class="fas fa-cart-plus"></i>
                                            <p>カートに入れる</p>
                                        <% end %>
                                    <% else %>
                                        <%= button_tag type: "submit", disabled: true, class: "btn btn-primary", style: "background-color: pink; border-color: pink; padding-right: 10px;" do %>
                                            <p style="font-size: 16px; font-style: bold; padding-top: 10px; margin: 0 auto;">SOLD OUT</p>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <p style="text-align: center;"><%= link_to 'マイページへ戻る', user_path(current_user.id), class:'btn btn-info' %></p>
        </div>
    </div>
</div>
