<h1>Admin::Artists#new</h1>
<p>Find me in app/views/admin/artists/new.html.erb</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <%= form_for([:admin, @artist]) do |f| %>
                    <p>新規アーティスト追加</p>
                    <p><span>アーティスト名</span><%= f.text_field :artist_name %></p>
                    <p><%= f.submit "追加" %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <th>id</th>
                    <th>アーティスト名</th>
                </tr>
                <% @artists.each do |artist| %>
                    <tr>
                        <td><%= artist.id %></td>
                        <td><%= artist.artist_name %></td>
                        <td>
                            <%= link_to admin_artist_path(artist.id), method: :delete do %>
                                <button>削除</button>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
            <p><%= link_to "商品管理へ戻る", admin_items_path %></p>
        </div>
    </div>
</div>
