
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<br>
<h2>受注履歴</h2>
<br>

<table>
	<tr>
		<th>購入者</th>
		<th>購入日</th>
		<th>購入価格総計</th>
		<th>ステータス</th>
		<th></th>

	</tr>
		<% @order.each do |order| %>
		<tr>
			<td text-align:center;><font size="4"><%= order.user_id %></font></td>
			<td text-align:center;><font size="4"><%= order.created_at %></font></td>
            <td text_align:center;><font size="4"><%= order.total_price %>円</font></td>
			<td text_align:center;><font size="4"><%= order.status %></font></td>
			<td><%= link_to "注文詳細", admin_order_path(order.id) %></td>
		</tr>
		<% end %>
        <%= paginate @orders %>


</table>
<br>
