<div class="container">
    <h2>ユーザー情報</h2>
    <p></p>
        <table class="table table-bordered" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th style="width:200px;">名前</th>
                    <td><%= @user.last_name %><%= @user.first_name %></td>
                </tr>
            <tbody>
                <tr>
                    <th>住所</th>
                    <td><%= @user.prefecture %>
                    <%= @user.city_address %>
                    <%= @user.building %></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= @user.email %></td>
                </tr>
            </tfoot>
    </table>
    <div class="btn-group">
            <button><%= link_to "住所一覧", user_addresses_path(@user.id) %></button>
            <button><%= link_to "住所入力フォーム", new_user_address_path(@user.id) %></button>
            <button><%= link_to "ユーザー情報編集", edit_user_path(@user.id) %></button>
    </div>
        <p><%= link_to "退会する？", user_path(@user.id), method: :delete %></p>

<h2>お気に入りリスト</h2>
    <p></p>
    <% @favorites.each do |item| %>
        <div class="row">
            <div class="favorite_items">
                <div class="col-md-2 col-md-offset-1">
                    <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg", size: '100x100' %>
                </div>
                <div class="col-md-3">
                    <p><%= link_to "#{item.title}",item_path(item.id) %></p>
                    <p><%= item.artist.artist_name %></p>
                    <p><%= item.price %>円(税込)</p>
                </div>
                <div class="col-md-3">
                    <div id="favorite-button-<%=item.id %>">
                        <%= render 'favorites/favorite', item: item %>
                    </div>
                    <p></p>
                    <%= form_for @cart_item do |f| %>
                        <%= f.number_field :amount, min: 1, value: 1 %>
                        <%= f.hidden_field :item_id, value: item.id %>
                        <p></p>
                        <%= f.submit 'カートに入れる' %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
    <p></p>
    <p><%= link_to 'お気に入り一覧へ', user_favorites_path(@user.id) %>

<h2>購入履歴</h2>
    <% @orders.each do |order| %>
        <div class="row">
            <div class="order_history">
                <table>
                    <thead>
                        <tr>
                            <th style="background-color:#CCCCCC">
                                <%= order.created_at.strftime('%Y/%m/%d') %>ご注文
                                <%= link_to '(詳細へ)', order_path(order.id) %>
                            </th>
                        </tr>
                        <tr>
                            <th>ご注文番号</th>
                            <th>商品</th>
                            <th>配送先</th>
                            <th>配送状況</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.order_items.each do |order_item| %>
                            <tr>
                                <td><%= order_item.item.title %></td>
                                <td><%= order_item.item.title %></td>
                                <td><%= order_item.order.delivery_last_name %><%= order_item.order.delivery_first_name %></td>
                                <td><%= order.payment_i18n %>
                                    <% if order.status == "配送準備中" %>
                                <td> </td>
                        <% else %>
                                <td>
                                    <%= link_to item_path(order_item.item_id) do %>
                                        <button class="btn-sticky">レビューを書く<></button>
                                    <% end %>
                                </td>
                        <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <% end %>
    <p><%= link_to '購入履歴へ', orders_path(@user_id) %></p>
    </div>