
<% if @order.errors.any? %>
  <h2 class="error-message-d">エラー！</h2>
  <h3 class="error-message-d">配送先情報を正しく入力してください　</h3>
<% end %>

<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>住所入力フォーム</h2>
                  <%= form_for(@order) do |f| %>
                    <div class="field">
                      <%= f.label :名前 %><br>
                      <%= f.label :姓 %>
                      <%= f.text_field :delivery_last_name, autofocus: true, autocomplete: "delivery_last_name", size: "10x10", class: "form-control" %>
                      <%= f.label :名 %>
                      <%= f.text_field :delivery_first_name, autofocus: true, autocomplete: "delivery_first_name", size: "10x10", class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= f.label :名前　カタカナ %><br>
                      <%= f.label :姓 %>
                      <%= f.text_field :delivery_last_kana_name, autofocus: true, autocomplete: "delivery_last_kana_name", size: "10x10", class: "form-control" %>
                      <%= f.label :名 %>
                      <%= f.text_field :delivery_first_kana_name, autofocus: true, autocomplete: "delivery_first_kana_name", size: "10x10", class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= f.label :郵便番号 %><br />
                      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", size: "10x10", class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= f.label :都道府県 %><br />
                      <%= f.text_field :prefecture, autofocus: true, autocomplete: "prefecture", size: "10x10", class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= f.label :市区町村　番地 %><br />
                      <%= f.text_field :city_address, autofocus: true, autocomplete: "city_address", size: "10x10", class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= f.label :建物名　部屋番号 %><br />
                      <%= f.text_field :building, autofocus: true, autocomplete: "building", size: "10x10", class: "form-control" %>
                    </div>


                    <%= f.label :支払い方法 %><br>
                    <%= @order.payment_i18n %>

                    <div class="actions">
                      <%= f.submit "変更", class:'btn btn-success' %>
                    </div>
                  <% end %>
            </div>
        </div>
    </div>

