<h2>購入履歴</h2>


<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
<% @orders.each do |order| %>
        <div class="row">
            <div class="order_history">
                <table>
                    <thead>
                        <tr>
                            <th style="background-color:#CCCCCC">
                                <%= order.created_at.strftime('%Y/%m/%d') %>
                                注文番号 <%= order.order_number %>
                                <%= link_to '(詳細へ)', order_path(order.id) %>
                            </th>
                        </tr>
                        <tr>
                            <th>商品</th>
                            <th>アーティスト</th>
                            <th>配送先</th>
                            <th>配送状況</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.order_items.each do |order_item| %>
                            <tr>
                                <td><%= order_item.item.title %></td>
                                <td><%= order_item.item.artist.artist_name %></td>
                                <td><%= order_item.order.delivery_last_name %><%= order_item.order.delivery_first_name %></td>
                                <td><%= order.status_i18n %>
                                <% if order.status == "delivered" %>
                                　　<td>
                                    <%= link_to item_path(order_item.item_id) do %>
                                        <button class="btn-sticky">レビューを書く<></button>
                                    <% end %>
                                　　</td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <% end %>
    <p><%= link_to '購入履歴へ', orders_path(@user_id) %></p>

<%= link_to "マイページへ戻る", user_path(current_user.id) %>
</div>
