<h2>購入履歴</h2>


<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
<% @orders.each do |order| %>
        <div class="row">
            <div class="order_history">
                <table>
                    <thead>
                        <tr>
                            <th style="background-color:#CCCCCC">
                                <%= order.created_at.strftime('%Y/%m/%d') %>
                                注文番号 <%= order.order_number %>
                                <%= link_to '(詳細へ)', order_path(order.id) %>
                            </th>
                        </tr>
                        <tr>
                            <th>商品</th>
                            <th>配送先</th>
                            <th>配送状況</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= order.order_items.first.with_deleted_item.title %>   <% if order.amount_except_one !=0 %>  ほか<%= order.amount_except_one %>点...<% end %></td>
                            <td><%= order.delivery_last_name %><%= order.delivery_first_name %></td>
                            <td><%= order.status_i18n %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <% end %>

<%= link_to "マイページへ戻る", user_path(current_user.id) %>
</div>
