<div>
    <% @cart_items.each do |cart_item| %>
        <div>
            <%= attachment_image_tag cart_item.item, :jacket_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img" %>
            <%= cart_item.item.title %>
            <%= cart_item.item.artist.artist_name %>
            <%= cart_item.amount %>
            <% item = cart_item.item.price * cart_item.amount * 1.10 %>
            <%= item %>
        </div>
    <% end %>
    <div>
        <span>送料</span>
        <span>全国一律500円</span>
        <span>500円</span>
    </div>
    <div>
        <span>合計 <%= current_user.cart_sum %>円　(税込) </span>
    </div>
</div>
<div>
  <%= form_with(model: order, local: true) do |form| %>
  <%= form.radio_button :id, :current_user.id %>  自分の住所を登録する
  <%= form.label :gender, "男性", {} %>
  <%= form.radio_button :gender, :female %>
  <%= form.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
<% end %>
</div>


<%= link_to "購入を確定する", thanks_orders_path %>
<%= link_to "カートに戻る", cart_item_path %>