
<h1>購入履歴・配送状況詳細</h1>

<%= @order.order_number %>
<table>
    <thead>
        <th>商品</th>
        <th>単価（税込み）</th>
        <th>個数</th>
        <th>小計</th>
    </thead>

    <% @order_items.each do |order_item| %>
        <tbody>
            <td><%= order_item.item.title %></td>
            <% tax_included = order_item.purchase_price * 1.10 %>
            <td><%= tax_included.round(0) %></td>
            <td><%= order_item.amount %></td>
            <% subtotal = tax_included * order_item.amount %>
            <td><%= subtotal.round(0) %></td>
        </tbody>
    <% end %>

    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th> 送料</th>
            <th>　500円</th>
        </tr>
    </tfoot>
</table>
<P>*配送状況はあくまで目安です。</p>
<p>お支払い合計　　￥<%= @order.total_price.floor %></p>

<p>注文者情報</p>
<table>
    <tbody>
        <tr>
            <th>名前(漢字)</th>
            <td><%= @order.user.last_name %><%= @order.user.first_name %></td>
        </tr>
        <tr>
            <th>名前(カタカナ)</th>
            <td><%= @order.user.last_kana_name %><%= @order.user.first_kana_name %></td>
        </tr>
        <tr>
            <th>住所</th>
        

        <td><%= @order.connected_address %></td> 


        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @order.user.tel_number %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%= @order.user.email %></td>
        </tr>
    </tbody>
</table>

<p>配送先</p>
<p>[変更する]ボタンがない場合はすでに出荷準備に入ってるため配送先住所を変更できません。</p>
<%= link_to"変更する", edit_order_path(@order.id) %>
<table>
    <tbody>
        <tr>
            <th>お届け先名前（漢字）</th>
            <td><%= @order.delivery_last_name %><%= @order.delivery_first_name %></td>
        </tr>
         <tr>
            <th>お届け先名前（カタカナ）</th>
            <td><%= @order.delivery_kana_last_name %><%= @order.delivery_kana_first_name %></td>
        </tr>
        <tr>
            <th>お届け先住所</th>
            <td><%= @order.connected_address %></td>
        </tr>
    </tbody>

<table>

</table>


<p>お支払い方法</p>
<%= @order.payment_i18n %>
<br>

<%= link_to "注文をキャンセルする", order_path(@order.id), method: :delete, "data-confirm" => "本当にキャンセルしますか？", class:"btn btn-default col-xs-12" %>
<%= link_to '購入履歴・配送状況一覧に戻る', orders_path %>