<div class="body">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
        <div class="button" href="#"><span>Thank you for comming to WAKUWAKUDISC </span><span>ご注文ありがとうございました</span></div>
                <div class="o-box">
                    <table class="table3 table-condensed">
                        <tr>
                            <th>ご注文番号 <%= @order.order_number %></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr style="background-color:#CCCCCC">
                            <th>商品画像</th>
                            <th>タイトル</th>
                            <th>アーティスト</th>
                            <th>数量</th>
                            <th>小計</th>
                        </tr>
                        <% @order_items.each do |order_item| %>
                            <tr>
                                <td class="thanks-data figure"><figure><%= attachment_image_tag order_item.with_deleted_item, :jacket_image, :fill, 60, 60, format: 'jpeg', fallback: 'no_image.jpg', size: '100x100' %></figure></td>
                                <td class="thanks-data"><%= order_item.with_deleted_item.title %></td>
                                <td class="thanks-data"><%= order_item.with_deleted_item.artist.artist_name %></td>
                                <td class="thanks-data"><%= order_item.amount %></td>
                                    <% subtotal = order_item.with_deleted_item.price * order_item.amount * 1.10 %>
                                <td class="thanks-data"><%= subtotal.round(0) %>円</td>
                            </tr>
                        <% end %>
                    </table>
                    <p class="thanks_postage">送料    500円</p>
                    <div class="thanks_total"><span>合計</span> 　<%= @order.total_price.floor %>円<span>(税込)</span></div>
                </div>
            </div>
        </div>
</div>
<div class="link_path">
    <%= link_to 'トップページへ戻る',root_path, data: {"turbolinks" => false} %>
</div>

