<% @order_items.each do |order_item| %>
    <div>
        <%= attachment_image_tag order_item.item, :jacket_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img" %>
        <%= order_item.item.title %>
        <%= order_item.item.artist.artist_name %>
        <%= order_item.amount %>
        <% subtotal = order_item.item.price * order_item.amount * 1.10 %>
        <%= subtotal %>
    </div>
<% end %>

    <span>送料    500円</span>
    <span>合計 <%= @order.total_price %>円　(税込) </span>

<div>
    <p>ご注文ありがとうございました</p>
    <%= link_to 'トップページへ戻る',root_path %>
</div>
