<h1>Admin::Labels#new</h1>
<p>Find me in app/views/admin/labels/new.html.erb</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <%= form_for([:admin, @label]) do |f| %>
                    <p>新規レーベル追加</p>
                    <p><span>レーベル名</span><%= f.text_field :label_name %></p>
                    <p><%= f.submit "追加" %></p>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr>
                        <th>id</th>
                        <th>レーベル</th>
                    </tr>
                    <tr>
                        <% @labels.each do |label| %>
                            <td><%= label.id %></td>
                            <td><%= label.label_name %></td>
                            <td>
                                <%= link_to admin_label_path(label.id), method: :delete do %>
                                    <button>削除</button>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                </table>
                <%= link_to "商品管理へ戻る", admin_items_path %>
            </div>
        </div>
    </div>
</div>
