<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <p>入荷履歴一覧</p>
                <table>
                    <tr>
                        <th>入荷日時</th>
                        <th>入荷商品</th>
                        <th>入荷数</th>
                        <th></th>
                    </tr>
                    <% @stocks.each do |stock| %>
                        <tr>
                            <td><%= stock.arrival_date %></td>
                            <td><%= stock.item.title %></td>
                            <td><%= stock.arrival_count %></td>
                            <td>
                                <%= link_to edit_admin_item_stock_path(stock.item.id, stock.id) do %>
                                    <button>編集</button>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
                <%= paginate @stocks %>
            </div>
        </div>
    </div>
</div>