<div class="container">
    <h2>登録住所一覧</h2>
            <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>名前</th>
                            <th>郵便番号</th>
                            <th>住所</th>
                            <th></th>
                            <th></th>
                        <tr>
                    </thead>
                    <tbody>
                        <% @addresses. each do |address| %>
                            <tr>
                                <td><%= address.last_name %><%= address.first_name %>
                                </td>
                                <td><%= address.postal_code %>
                                </td>
                                <td><%= address.prefecture %><%= address.city_address %><%= address.building %>
                                </td>
                                <td><%= link_to '編集', edit_user_address_path(address.user.id, address.id), class:"btn btn-success" %></td>
                                <td><%= link_to '削除', user_address_path(address.user.id,address.id), method: :delete, class:"btn btn-danger" %></td>
                            </tr>
                            <% end %>
                    </tbody>
            </table>
            <%= link_to '追加する', new_user_address_path(current_user.id) %>
        </div>