<h1>Addresses#new</h1>
<p>Find me in app/views/addresses/new.html.erb</p>
<h2>住所入力フォーム</h2>
    <h4>名前(漢字)</h4>
        姓<%= f.string :first_name %>  名<%= f.string :last_name %>
    <h4>名前(カタカナ)</h4>
        姓<%= f.string :first_name %>  名<%= f.string :last_name %>
    <h4>郵便番号</h4>
        <%= f.string :postal_code %>
    <h4>都道府県</h4>
        <%= f.string :prefecture %>
    <h4>市区町村　番地</h4>
        <%= f.string :city_address %>
    <h4>建物名　部屋番号</h4>
        <%= f.string :building %>

    <%= f.submit, '登録' class:'btn btn default' %>