    <%# <div class="container"> %>
    <% unless @items.present? %>
        <h2>検索結果がありません</h2>
    <% end %>
        <div class="row item_index_box">
            <div class="col-md-3">
                <%# <ul>
                    <% @artists.each do |artist| %>
                        <%# <li><%= link_to "#{artist.artist_name}", artist_path(artist.id) %>
                    <%# <% end %>
                <%# </ul> %>
                <div class="box">
                    <h2>ジャンル</h2>
                    <ul>
                        <% @genres.each do |genre| %>
                            <li><i class="fas fa-headphones-alt" style="margin-right: 20px;"></i><%= link_to "#{genre.genre_name}", genre_path(genre.id) %></li>
                        <% end %>
                    </ul>
                </div>

                <div class="box">
                    <h2>レーベル</h2>
                    <ul>
                        <% @labels.each do |label| %>
                            <li><i class="fas fa-compact-disc fa-spin" style="margin-right: 20px;"></i><%= link_to "#{label.label_name}", label_path(label.id) %></li>
                        <% end %>
                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <h2>CD一覧</h2>
                    <% @items.each do |item| %>
                        <div class="row">
                            <div class="item_index">
<<<<<<< HEAD
                                <div class="col-md-2">
                                    <%= attachment_image_tag item, :jacket_image, format:'jpeg', fallback: "no_image.jpg", size: "150x150" %>
=======
                                <div class="col-md-2 col-md-offset-2">
                                    <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg", size: '100x100' %>
>>>>>>> master
                                </div>
                                <div class="col-md-5">
                                    <p><%= link_to "#{item.title}",item_path(item.id) %></p>
                                    <p><%= item.artist.artist_name %></p>
                                    <p><%= item.tax_include.round(0) %>円(税込)</p>
                                </div>
                                <div class="col-md-4">
                                    <% if user_signed_in? %>
                                        <div class="favorite-button-<%=item.id %>">
                                            <%= render 'favorites/favorite', item: item %>
                                        </div>
                                    <% end %>
                                    <p></p>
                                    <%= form_for @cart_item do |f| %>
                                        <%= f.number_field :amount, min: 1, value: 1 %>
                                        <%= f.hidden_field :item_id, value: item.id %>
                                        <%= f.submit 'カートに入れる' %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <%= paginate @items %>
            </div>
        </div>
        </div>