
<% @serch_items.each do |item| %>
    <%= attachment_image_tag item, :jacket_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
    <p><%= item.title %></p>
    <p><%= item.artist.artist_name %></p>
    <p>¥<%= item.price *1.1 %>(税込)</p>
    <%= form_for>
<% end %>


div class="container">
    <div class="row">
      <%= render 'users/list', user: @user, book: @book %>
      <div class="col-lg-8">
        <div>Books</%>
      <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @serch_items.each do |item| %>
                <td>
                      
                </td>
                <td>
                  <%= link_to book_path(bookall.id) do %>
                    <%= bookall.title %>
                  <% end %>
                </td>
                <td>
                  <%= bookall.body %>
                </td>
            </tr>
              <% end %>
          </tbody>
          </table>
          </div>
    </div>
</div>