
<div class="container">
    <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <div class="image7"></div>
        <div class="image8"></div>
        <div class="image9"></div>
        <div class="image10"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>月間ランキング</h2>
                <%= %>
                <%= link_to '月間ランキングへ', ranking_items_path %>

            <h2>いいねランキング</h2>
                <%= %>
                <%= link_to 'いいねランキングへ', ranking_items_path %>

            <h2>新着CD</h2>
                <%= %>
                <%= link_to '商品一覧へ', items_path %>
        </div>
        <div class="col-md-3">
            <div>週間ランキング</div>
                <%= %>
            </div>
        </div>
    </div>
</div>