
<div class="container">
    <div class="row" id="container">
        <%# <div class="col-md-6 col-md-offset-3"> %>
            <div id="theTarget">
                <% @slide_jackets.each do |item| %>
                    <div class="image1">
                        <%= link_to item_path(item.id) do %>
                        <%= attachment_image_tag item, :jacket_image, size: "300x300", format: 'jpeg', fallback: "no_image.jpg", size:"300x300", style: "box-shadow: 0 0 7px grey;"  %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <%# </div> %>
    </div>

    <div class="row">
        <div class="col-md-9">

            <div class="monthly">
                <div class="row">
                    <h2 class="rankings-title"><%=link_to "月間売り上げランキング", ranking_items_path %></h2>
                    <% @monthly_ranks.each.with_index(1) do |item, i| %>
                        <div class="col-md-4 ">
                            <div class="col-md-10 rankings-box-<%= i %> col-md-offset-1">
                                <div>
                                    <i class="fas fa-crown" style="padding-bottom: 10px;">
                                        <strong style="text-shadow: 0.0.3px grey;"><%= "第#{i}位" %></strong>
                                    </i><br>
                                    <%= link_to item_path(item.id) do %>
                                        <%= attachment_image_tag item, :jacket_image, size: "150x150", format:'jpeg', style: "box-shadow: 0 0 7px grey;" %><br>
                                    <% end %>
                                <%# </div> %>
                                <%# <div class="col-md-10"> %>
                                    <%= link_to "#{item.title}",item_path(item.id) %><br>
                                    <p><%= link_to "#{item.artist.artist_name}", artist_path(item.artist.id) %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
                <%# <%= link_to '月間ランキングへ', ranking_items_path %>

            <div class="favorite">
                <div class="row">
                    <h2 class="rankings-title"><%=link_to "お気に入りランキング", ranking_items_path %></h2>
                    <% @favorite_ranks.each.with_index(1) do |item, i| %>
                        <div class="col-md-4">
                            <div class="col-md-10 rankings-box1-<%= i %> col-md-offset-1">
                                <div>
                                    <i class="fas fa-crown" style="padding-bottom: 10px;">
                                        <strong style="text-shadow: 0.0.3px grey;"><%= "第#{i}位" %></strong>
                                    </i><br>
                                    <%= link_to item_path(item.id) do %>
                                        <%= attachment_image_tag item, :jacket_image, size: "150x150", format:'jpeg', style: "box-shadow: 0 0 7px grey;" %>
                                    <% end %>
                                    <p><%= link_to "#{item.title}",item_path(item.id) %></p>
                                    <p><%= link_to "#{item.artist.artist_name}", artist_path(item.artist.id) %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <%# <%= link_to '各ランキングへ', ranking_items_path %>

            <div class="newcd">
                <div class="row">
                    <h2 class="rankings-title"><%=link_to "最新作", items_path %></h2>
                    <% @new_cd.each.with_index(1) do |item, i| %>
                        <%# <div class="rankings-new-box"> %>
                            <div class="rankings-box2-<%= i %>">
                                <%# <div> %>
                                <%= link_to item_path(item.id) do %>
                                    <%= attachment_image_tag item, :jacket_image, size: "200x200", format:'jpeg',　style: "box-shadow: 0 15px 15px grey;" %>
                                <% end %>
                                <p><%= link_to "#{item.title}",item_path(item.id), class: "rankings-new-text" %></p>
                                <p><%= link_to "#{item.artist.artist_name}", artist_path(item.artist.id), class: "rankings-new-text" %></p>
                                <%# </div> %>
                            </div>
                        <%# </div> %>
                    <% end %>
                </div>
            </div>
            <%= link_to '商品一覧へ', items_path %>
        </div>
        <%# </div> %>

        <%# <div class="row"> %>
        <div class="col-md-3">
            <div class="weekly">
                <h3 class="rankings-title2"><%=link_to "週間ランキング", ranking_items_path %></h3>
                    <% @weekly_ranks.each.with_index(1) do |item, i| %>
                        <div class="rankings-side-box">
                            <span class="rankings-side-box-title"><i class="fas fa-crown"><span class="crown-text"><%= "第#{i}位" %></span></i></span>
                            <p><%= link_to item_path(item.id) do %>
                                <%= attachment_image_tag item, :jacket_image, size: "140x140", format:'jpeg', style: "margin: 0 auto; box-shadow: 0 0 7px grey;" %>
                            <% end %></p>
                            <div>
                                <strong><%= link_to "#{item.title}",item_path(item.id), style: "color: #fff; padding-top: 7px;" %></strong><br>
                                <hr class="rankings-side-box-bar">
                                <strong><%=link_to "#{item.artist.artist_name}", artist_path(item.artist.id), style: "color: #fff;" %></strong>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
</div>
