<%# <h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p> %>
<h2>CD詳細</h2>
<<<<<<< HEAD
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-4">
                    <%= attachment_image_tag @item, :jacket_image, :fill, 100, 100, format:'jpeg' %>
                </div>
                <div class="col-md-8">
                    <p><%= @item.title %></p>
                    <p><%= @item.artist %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <p><%= @item.price %>(税込)</p>
            </div>
            <div class="col-md-6">
                <button><%= link_to 'お気に入り', favorite_path %></button>
                <%= form_for @cart_item do |f| %>
                <%= f.number_field :amount %>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.submit 'カートに入れる' %>
                <% end %>
=======
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                <%= attachment_image_tag @item, :jacket_image, :fill, 100, 100, format:'jpeg' %>
            </div>
            <div class="col-md-8">
                <p><%= @item.title %></p>
                <p><%= @item.artist %></p>
>>>>>>> master
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <p><%= @item.price %>(税込)</p>
        </div>
        <div class="col-md-6">
        <div id="favorite-button-<%=@item.id %>">
            <%= render 'favorites/favorite', item: @item %>
        </div>
            <%# <button><%= link_to 'お気に入り', favorite_path %>
            <%= form_for @cart_item do |f| %>
            <%= f.number_field :amount %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit 'カートに入れる' %>
            <% end %>
        </div>
    </div>
<<<<<<< HEAD
    <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>商品詳細</h2>
                            <p>ジャンル・レーベル</p>
                                <div class="row">
                                    <div class="col-md-2">
                                        <%= @item.title %><br>
                                        <%= @item.genre %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <%# <%= item.disc.disc_number %>
                                        <%# <%= item.disc.track_name %>
                                    </div>
=======
    <div class="col-md-1"></div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>商品詳細</h2>
                        <p>ジャンル・レーベル</p>
                            <div class="row">
                                <div class="col-md-2">
                                    <%= @item.title %><br>
                                    <%= @item.genre %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <%# <%= item.disc.disc_number %>
                                    <%# <%= item.disc.track_name %>
>>>>>>> master
                                </div>
                            </div>
                </div>
            </div>
    <div>
        <p>投稿レビュー</p>
            <% @reviews.each do |review| %>
                <div>
                    <p><%= review.title %></p>
                    <p><%= "#{review.user.last_name}" + "#{review.user.first_name}" %></p>
                    <div>
                        <p><%= review.body %></p>
                    </div>
                </div>
            <% end %>
    </div>

<<<<<<< HEAD







        <%# <p><%= link_to '商品一覧へ戻る' items_path %>
=======
    <% if user_signed_in? %>
        <div>
            <p>レビュー入力フォーム</p>
            <%= form_for([@item, @review]) do |f| %>
                <% if @review.errors.any? %>
                    <%= "#{@review.errors.count}件のエラーがあります。" %>
                    <% @review.errors.full_messages.each do |message| %>
                        <%= message %>
                    <% end %>
                <% end %>
                <p><span>タイトル</span><%= f.text_field :title %></p>
                <p><span>本文</span><%= f.text_area :body %></p>
                <%= f.submit "投稿" %>
            <% end %>
        </div>
    <% end %>
</div>
<%# <p><%= link_to '商品一覧へ戻る' items_path %>
>>>>>>> master
