<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box clearfix">
                <div class="item_img">
                    <%= attachment_image_tag @item, :jacket_image, size: '300x300', fallback: 'no_image.jpg' %>
                </div>
                <div class="item_show">
                    <p><%= @item.title %></p>
                    <p><%= @item.artist.artist_name %></p>
                </div>
                <div class="item_show1">
                    <p><%= @item.tax_include.round(0) %>円(税込)</p>
                </div>
                <div class="item_show2">
                    <div class="favorite_btn">
                        <div class="favorite-button-<%=@item.id %>">
                            <%= render 'favorites/favorite', item: @item %>
                        </div>
                    </div>
                </div>
                <div class="item_show3">
                    <%= form_for @cart_item do |f| %>
                    <%= f.number_field :amount, min: 1, value: 1 %><br>
                    <%= f.hidden_field :item_id, value: @item.id %><br>
                    <%= f.submit 'カートに入れる', :class => "btn btn-danger col-xs-12"%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box">
                <h3>商品詳細</h3>
                <div class="label_g">
                    ジャンル・レーベル
                </div>
                <%= @item.title %><div>
                <%= @item.genre.genre_name %>
                <div class="label_g">
                    曲名
                </div>
                


                <div class="line2">
                </div>

                <h3>投稿レビュー</h3>
                    <% @reviews.each do |review| %>
                        <div class="review_box clearfix">
                            <div class="review_do1">
                                <h4>タイトル</h4>
                                <%= review.title %>
                            </div>

                            <div class="review_do2">
                                <h4>投稿者</h4>
                                <%= "#{review.user.last_name}" + "#{review.user.first_name}" %>
                            </div>

                            <div class="review_do3">
                            <%= review.body %>
                            </div>
                        </div>
                    <% end %>

                <div class="line2">
                </div>

                <% if user_signed_in? %>
                    <h3>レビュー入力フォーム</h3>
                    <div>
                        <%= render 'layouts/error_message', form: @review %>
                    </div>
                        <div class="review_do">
                            <div class="row">
                            <%= form_for([@item, @review]) do |f| %>
                                <p class="review_form"><span class="review_head">タイトル</span><%= f.text_field :title, :size => "60" %></p>
                                <p><span class="review_form"><span class="review_head">本文</span><%= f.text_area :body, :size => "110x10" %></p>
                                <%= f.submit "投稿する", :class => "btn btn-info col-xs-6 col-xs-offset-3" %>
                            <% end %>
                            </div>
                        </div>
                <% end %>
            </div>
        </div>
        <div class="link_path1">
            <%= link_to '商品一覧へ戻る', items_path %>
        </div>
    </div>
</div>
