<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="box clearfix">
                <div class="item_img">
                    <%= attachment_image_tag @item, :jacket_image, size: '300x300', fallback: 'no_image.jpg' %>
                </div>
                <div class="item_show">
                    <p><%= @item.title %></p>
                    <p><%= link_to "#{@item.artist.artist_name}", artist_path(@item.artist.id) %></p>
                </div>
                <div class="item_show1">
                    <p><%= @item.tax_include.round(0) %>円(税込)</p>
                </div>
                <div class="item_show2">
                    <div class="favorite_btn">
                        <div class="favorite-button-<%=@item.id %>">
                            <%= render 'favorites/favorite', item: @item %>
                        </div>
                    </div>
                </div>
                <div class="item_show3">
                    <%= form_for @cart_item do |f| %>
                        <%= f.number_field :amount, min: "1", max: "99", value: 1 %><span style="color: #fff;"> 枚</span>
                        <%= f.hidden_field :item_id, value: @item.id %>
                        <% if @item.status_before_type_cast == 0 %>
                            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                                <i class="fas fa-cart-plus"></i>
                                <p>カートに入れる</p>
                            <% end %>
                        <%# <% elsif @item.status_before_type_cast <= 1 %>
                            <%# <%= button_tag type: "submit", class: "btn btn-primary" do %>
                                <%# <i class="fas fa-cart-plus"></i> %>
                                <%# <p>カートに入れる</%#> %>
                            <%# <% end %>
                        <% else %>
                            <%= button_tag type: "submit", disabled: true, class: "btn btn-primary", style: "background-color: pink; border-color: pink; padding-right: 10px;" do %>
                                <p style="font-size: 16px; font-style: bold; padding-top: 10px; margin: 0 auto;">SOLD OUT</p>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="box">
                <h3>商品詳細</h3>
                    <div class="table">
                        <%# <ul> %>
                            <h4>レーベル名</h4>
                            <p>&emsp;&emsp;<%= @item.label.label_name %></p>
                        <%# </ul> %>
                        <%# <ul> %>
                            <h4>ジャンル</h4>
                            <p>&emsp;&emsp;<%= @item.genre.genre_name %></p>
                        <%# </ul> %>

                        <%# <ul id="discs"> %>
                            <h4><span>曲名</span></h4>
                            <%# <li> %>
                                <% @discs.each do |disc| %>
                                    <div>
                                        <p><%= "#{disc.disc_number}枚目" %></p>
                                        <% disc.tracks.each do |track|  %>
                                            <p><span>&emsp;&emsp;<%= "#{track.track_number}：" %></span><%= track.track_name %></p>
                                        <% end %>
                                    </div>
                                <% end %>
                            <%# </li> %>
                        <%# </ul> %>
                    </div>

                <div class="line2">
                </div>

                <h3>投稿レビュー</h3>
                <div class="line3">
                </div>
                    <% @reviews.each do |review| %>
                        <div class="review_box clearfix">
                            <div class="review_do1">
                                <h4>タイトル</h4>
                                <%= review.title %>
                            </div>

                            <div class="review_do2">
                                <h4>投稿者</h4>
                                <%= "#{review.user.last_name}" + "#{review.user.first_name}" %>
                            </div>

                            <div class="review_do3">
                            <%= review.body %>
                            </div>

                            <div class="line3"</div>
                            </div>
                        </div>
                    <% end %>

                <div class="line2">
                </div>

                <% if user_signed_in? %>
                    <h3>レビュー入力フォーム</h3>
                    <div>
                        <%= render 'layouts/error_message', form: @review %>
                    </div>
                    <div class="review_do">
                        <div class="row">
                            <%= form_for([@item, @review]) do |f| %>
                            <p class="review_form"><span class="review_head">タイトル</span><%= f.text_field :title, :size => "60" %></p>
                            <p><span class="review_form"><span class="review_head">本文</span><%= f.text_area :body, :size => "110x10" %></p>
                            <%= f.submit "投稿する", :class => "btn btn-info col-xs-6 col-xs-offset-3" %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
        <div class="link_path1">
            <%= link_to '商品一覧へ戻る', items_path %>
        </div>
</div>
