
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>ユーザー編集</h2>
                    <form>
                    <%= form_for(@user, url: admin_user_path(@user.id)) do |f| %>
                        <div class="form-group">
                            <%# <P>名前</p> %>
                            <%= f.label :名前 %><br>
                            <%= f.label :姓 %>
                            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", size: "10x10", class: "form-control" %>
                            <%= f.label :名 %>
                            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", size: "10x10", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%# <p>名前（カタカナ）</p> %>
                            <%= f.label :名前（カタカナ） %><br>
                            <%= f.label :姓 %>
                            <%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name", size: "10x10", class: "form-control" %>
                            <%= f.label :名 %>
                            <%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name", size: "10x10", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :メールアドレス %><br />
                            <%= f.text_field :email, autofocus: true, autocomplete: "email", size: "20x10", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :パスワード %><br />
                            <%= f.text_field :password, autofocus: true, autocomplete: "password", size: "20x10", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :郵便番号 %><br />
                            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", size: "20x10", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :都道府県 %><br />
                            <%= f.text_field :prefecture, autofocus: true, autocomplete: "prefecture", size: "20x10", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :市区町村　番地 %><br />
                            <%= f.text_field :city_address, autofocus: true, autocomplete: "city_address", size: "20x10", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :建物名　部屋番号 %><br />
                            <%= f.text_field :building, autofocus: true, autocomplete: "building", size: "20x10", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :電話番号 %><br />
                            <%= f.telephone_field :tel_number, autofocus: true, autocomplete: "tel_number", size: "20x10", class: "form-control" %>
                        </div>

                        <div class="actions_update">
                            <%= f.submit "更新する", class:"btn-btn btn-success" %>
                        </div>
                    <% end %>
                    </form>
            </div>
        </div>
    </div>
