<!DOCTYPE html>
<html>
  <head>
    <title>WakuwakuDisc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8f08035db1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="admin-header-box">
    <%= link_to admin_path do %>
      <span class="logo-box"><%= image_tag "admin_logo.jpg", size: '200x200', alt:"" %></span>
    <% end %>
    <%# <P><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <nav>
      <ul>
        <li>
          <%= link_to admin_users_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">ユーザー管理</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_items_path do %>
            <span class="glyphicon glyphicon-lock" aria-hidden="true">商品管理</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_stocks_path do %>
            <span class="glyphicon glyphicon-stats" aria-hidden="true">在庫管理</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_orders_path do %>
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true">受注管理</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer class="admin-footer">
    <hr>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true">ログアウト</span>
      <% end %>
  </footer>
</html>
