<!DOCTYPE html>
<html>
  <head>
    <title>WakuwakuDisc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8f08035db1.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <script src="assets/skippr.js"></script>
  </head>
<body>
  <header>
    <% if user_signed_in? %>
      <div>
        <div>
          <p>こんにちは<%= current_user.first_name %>さん<br>
          マイページは<%= link_to "こちら", user_path(current_user.id) %></p>
        </div>
        <dl class="searchbox">

          <%= form_tag(items_path,method: :get) do %>
            <%= text_field_tag :search %>
            <%= submit_tag 'Search', :name => nil %>
          <% end %>


        </dl>
        <li class=""><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out" %></li>
        <li class=""><%= link_to "マイページ", user_path(current_user.id), class:"glyphicon glyphicon-user" %></li>
        <li class=""><%= link_to "カート", cart_items_path, class: "glyphicon glyphicon-shopping-cart" %></li>
      <div>

    <% else %>
    <div>
        <div>
          <p>こんにちはゲストさん<br>
          無料会員登録は<%= link_to "こちら", new_user_registration_path %>すでに会員の方は<%= link_to "ログイン", new_user_session_path %></p>
        </div>
        <dl class="searchbox">
          <%= search_form_for @search, url: items_path do |f| %>
            <dt><%= f.text_field :title_cont ,placeholder: 'アーティスト名やタイトル名など' %></dt>
            <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
          <% end %>
        </dl>
        <li class=""><%= link_to "ログイン", new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
        <li class=""><%= link_to "新規会員登録", new_user_registration_path %></li>
        <li class=""><%= link_to "カート", cart_items_path, class: "glyphicon glyphicon-shopping-cart" %></li>
      <div>
    <% end %>

 TODO:スタイルとアイコン

  </header>


    <%= yield %>
  </body>

</html>
